<h1>Create your Dj instance</h1>

<form method='POST' action='/djs'>
    <label>Name:<input type='text' name='name'></label>
    <label>Age:<input type='text' name='age'></label>
    <label>submit<input type='submit'></label>
</form>
